head
	title #{metaTitle}

	meta(charset="utf-8")
	meta(name="viewport", content="width=device-width, initial-scale=1")
	meta(property="og:type", content="#{metaDocumentType}")
	meta(property="og:url", content="#{metaURL}")
	meta(property="og:image", content="#{metaImage}")
	meta(property="og:description", content="#{metaDescription}")
	meta(name="twitter:title", content="#{metaTitle}")
	meta(name="twitter:description", content="#{metaDescription}")
	meta(name="keywords", content="#{metaKeywords}")
	meta(name="description", content="#{metaDescription}")


	link(href="../styles/styles.css", rel="stylesheet")
	//- link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css", rel="stylesheet")